    {{#each this}}
        {{#INPUT}}
            <div class="vj-ctrl vj-ctrl-input {{CLASS}}">
                <span class="vj-title">{{TITLE}}</span>
                <div class="vj-item">
                    {{#if VIEWER}}<span class="vj-viewer">{{VIEWER}}</span>{{/if}}
                    {{#if TEXT}}<span class="vj-text">{{TEXT}}</span>{{/if}}
                    {{#if PLACEHOLDER}}<span class="vj-placeholder">{{PLACEHOLDER}}</span>{{/if}}
                    {{#if COUNTER}}<span class="vj-counter">{{COUNTER}}</span>{{/if}}
                    {{#if UNIT}}<span class="vj-unit">{{UNIT}}</span>{{/if}}
                    {{#if_equal INPUT "input"}}<input type="text" class="vj-input">{{/if_equal}}
                    {{#if_equal INPUT "textarea"}}<textarea class="vj-input"></textarea>{{/if_equal}}
                </div>
                <p class="vj-desc"><span class="vj-err"></span><span>{{DESC}}</span></p>
            </div>
        {{/INPUT}}

        {{#SELECT}}
            <div class="vj-ctrl vj-ctrl-select {{CLASS}}">
                <span class="vj-title">{{TITLE}}</span>
                <div class="vj-item">
                    {{#if VIEWER}}<span class="vj-viewer">{{VIEWER}}</span>{{/if}}
                    {{#if TEXT}}<span class="vj-text">{{TEXT}}</span>{{/if}}
                    <div class="vj-select">{{#each ITEM}}<span data-vj-data="{{DATA}}">{{TEXT}}</span>{{/each}}</div>
                </div>
                <p class="vj-desc"><span class="vj-err"></span><span>{{DESC}}</span></p>
            </div>
        {{/SELECT}}

        {{#CHECK}}
            <div class="vj-ctrl vj-ctrl-check {{CLASS}}" index="{{@index}}">
                <span class="vj-title">{{TITLE}}</span>
                <div class="vj-item">
                    {{#each ITEM}}<span data-vj-data="{{DATA}}">{{TEXT}}</span>{{/each}}
                </div>
                <p class="vj-desc"><span class="vj-err"></span><span>{{DESC}}</span></p>
            </div>
        {{/CHECK}}
    {{/each}}
